/*
 * [Name of the site], by [Author]
 *
 * [City, State, Country]
 * Copyright [Year], [Company]
 *
 * [Web address]
 * [contact@example.com]
 */

/*
 * Bourbon
 */

  @import "bourbon/bourbon";

/*
 * Box Sizing
 */

  *, *:after, *:before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include box-sizing(border-box);
  }

/*
 * Normalize
 */

  @import "modules/normalize";

/*
 * Variables
 */

  $yellow:                  #FFBB44;
  $darkgray:                #646464;
  $gray:                    #7B7B7B;
  $lightgray:               #9F9F9F;

  $textColor:               $gray;
  $linkColor:               blue;
  $fontSize:                14px;
  $lineHeight:              1.6;
  $letterSpacing:           0.02em;
  $sansSerif:               'Hind', sans-serif;
  $serif:                   'Bitter', 'Times New Roman', serif;

  $bold:                    700;
  $medium:                  500;
  $normal:                  400;

  $bodyBg:                  #FFFFFF;
  $selectionBg:             blue;
  $selectionColor:          white;

  $transitionsTiming:       0.15s;

  $cursorDisabled:          not-allowed;

/*
 * Main
 */

  body {
    font: $normal $fontSize $sansSerif;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $textColor;
    background: $bodyBg;
    min-width: 320px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $linkColor;

    @include transition(color $transitionsTiming ease);
  }

  ::-moz-selection {
    background: $selectionBg;
    color: $selectionColor;
    text-shadow: none;
  }

  ::selection {
    background: $selectionBg;
    color: $selectionColor;
    text-shadow: none;
  }

/*
 * Plugins
 */

  @import "plugins/swiper.js";

/*
 * Modules
 */

  @import "modules/fonts";

  @import "modules/assets";

  @import "modules/grid";

  @import "modules/type";

  @import "modules/buttons";

  @import "modules/forms";

  @import "modules/sprite";

/*
 * Specifics
 */

  @import "parts/home";

/*
 * Media
 */

  @import "modules/media";

  @import "modules/retina";