footer {
  text-align: center;
  background: #0B486B url(../images/layers/4.png);
  font-size: 10px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 45px 0 20px;

  p {
    color: #001d2e;
    padding: 0;
    margin: 0;
  }

  a {
    color: #001d2e;

    &:hover, &:focus { color: #1ABC9C; }
  }
}

.social-plugins {
  text-align: center;
  padding: 100px 0 0;
}

.social-plugin-wrapper {
  display: inline-block;
  margin: 15px;
  border: 1px solid #083854;
  background: #093f5d;
  padding: 10px 10px 5px;

  @include border-radius(3px);
}

.fb-like, .twitter-follow-button, .g-plusone {
  line-height: 1;
  overflow: hidden;
}

.social-plugins .clear { display: none; }